<div class="row" style="position: absolute; width: 100%; height: 100%">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary add_hosts_btn">添加主机 <span class="caret"></span></button>
    <ul class="add_hosts_menu">
      <li class="add_one_host" role="button" data-toggle="modal" data-target="#modal-container-add-one-host">
        <a>添加单个</a>
      </li>
      <li class="add_batch_host" role="button" data-toggle="modal" data-target="#modal-container-add-batch-host">
        <a>批量添加</a>
      </li>
    </ul>
    <div class="btn-group">
      <button
        type="button"
        id="update_host"
        class="btn btn-success"
        href="#modal-container-update-host"
        role="button"
        data-toggle="modal"
        disabled="disabled">
        更新
      </button>
      <button type="button" id="delete_host" class="btn btn-danger" disabled="disabled">删除</button>
    </div>
    <div
      class="modal fade"
      id="modal-container-add-one-host"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">{% include "manage_host/_add_one_host.html" %}</div>
      </div>
    </div>
    <div
      class="modal fade"
      id="modal-container-add-batch-host"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">{% include "manage_host/_add_batch_host.html" %}</div>
      </div>
    </div>
    <div
      class="modal fade"
      id="modal-container-update-host"
      role="dialog"
      aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">{% include "manage_host/_update_host.html" %}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-12" style="margin-top: 30px">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><input type="checkbox" id="select_all" /></th>
          <th>主机名称</th>
          <th>IP地址</th>
          <th>远程端口</th>
          <th>管理用户</th>
          <th>所属组</th>
          <th>添加时间</th>
        </tr>
      </thead>
      <tbody>
        {% for host in hosts_info %}
        <tr>
          <td><input type="checkbox" /></td>
          <td>{{ host.hostname }}</td>
          <td>{{ host.ipaddress }}</td>
          <td>{{ host.port }}</td>
          <td>{{ host.username }}</td>
          <td>{{ host.group }}</td>
          <td>{{ host.create_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="host_details">{% include "manage_host/_host_details.html" %}</div>
</div>
<script type="text/javascript" src="{{ url_for("static", filename="js/manage_host.js") }}">
