<div class="row" style="position: absolute; width: 100%; height: 90%; margin: 0 auto;">
    <div class="col-sm-12">
        <div class="user_manager_title">
            <h4>用户信息管理</h4>
        </div>
    </div>
    <div class="user_info_box col-sm-12">
        <div class="user_base_info">
            <div class="user_base_info_title">
                <span class="glyphicon glyphicon-user"></span>
                <h5>用户信息</h5>
                <div class="user_base_info_update_btn">
                    <form action="#" method="post">
                        <button id="edit_user_btn" class="btn btn-primary" type="button">更新信息</button>
                        <button id="update_user_btn" class="btn btn-success" type="button" style="display: none;">提交更新</button>
                        <button id="cancel_edit_btn" class="btn btn-primary" type="button" style="display: none;">取消</button>
                    </form>
                </div>
            </div>
            <div class="user_base_info_content">
                <div class="user_base_info_content_avatar">
                    <div class="user_base_info_avatar">
                        <img id="user_avatar_img" class="user_base_info_avatar_img" src="{{ users_info.avatar }}">
                        <div class="user_base_info_avatar_box">
                            <input class="user_base_info_avatar_btn" type="file" id="avatar_file" name="avatar_file" accept="image/jpg,image/png,image/gif"/>
                            <span class="user_base_info_avatar_icon glyphicon glyphicon-edit"></span>
                        </div>
                    </div>
                    <span>用户名: {{ users_info.username }}</span>
                    <div class="user_base_info_id">
                        <img src="/static/img/id.svg">
                        <span>{{ users_info.id }}</span>
                    </div>
                </div>
            </div>
            <div class="user_base_info_content" style="overflow: auto; padding-top: 5px;">
                <div class="user_base_info_content_item">
                    <span class="user_base_info_content_title">手机号:</span>
                    {% if users_info.phonenumber %}
                      <span id="person_phone_number" class="user_base_info_content_text">{{ users_info.phonenumber }}</span>
                    {% else %}
                      <span id="person_phone_number" class="user_base_info_content_text">未设置</span>
                    {% endif %}
                </div>
                <div class="user_base_info_content_item">
                    <span class="user_base_info_content_title">邮箱:</span>
                    {% if users_info.email %}
                      <span id="person_email" class="user_base_info_content_text">{{ users_info.email }}</span>
                    {% else %}
                      <span id="person_email" class="user_base_info_content_text">未设置</span>
                    {% endif %}
                </div>
                <div class="user_base_info_content_item">
                    <span class="user_base_info_content_title">性别:</span>
                    {% if users_info.sex == 1 %}
                      <span id="person_sex" class="user_base_info_content_text">男</span>
                    {% else %}
                      <span id="person_sex" class="user_base_info_content_text">女</span>
                    {% endif %}
                </div>
                <div class="user_base_info_content_item">
                    <span class="user_base_info_content_title">激活状态:</span>
                    {% if users_info.active %}
                      <span class="user_base_info_content_text">激活</span>
                    {% else %}
                      <span class="user_base_info_content_text">禁用</span>
                    {% endif %}
                </div>
                <div class="user_base_info_content_item">
                    <span class="user_base_info_content_title">注册时间:</span>
                    <span class="user_base_info_content_text">{{ users_info.register_time }}</span>
                </div>
                <div class="user_base_info_content_item">
                    <span class="user_base_info_content_title">最近登录时间:</span>
                    <span class="user_base_info_content_text">{{ last_login_info.last_login_time }}</span>
                </div>
                <div class="user_base_info_content_item">
                    <span class="user_base_info_content_title">最近登录地址:</span>
                    <span class="user_base_info_content_text">{{ last_login_info.last_login_region }}</span>
                </div>
                <div class="user_base_info_content_item">
                    <span class="user_base_info_content_title">最近登录IP:</span>
                    <span class="user_base_info_content_text">{{ last_login_info.last_login_ipaddress }}</span>
                </div>
            </div>
        </div>
        <div class="user_history_info">
            <div class="user_history_info_title">
                <span class="glyphicon glyphicon-log-in"></span>
                <h5>登录历史记录</h5>
            </div>
            <table class="table table-striped" style="display: block; overflow: auto;">
                <thead>
                    <tr>
                        <th>序号</th>
                        <th>登录时间</th>
                        <th>登录IP</th>
                        <th>登录地址</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in logins_info %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ history.login_time }}</td>
                        <td>{{ history.login_ipaddress }}</td>
                        <td>{{ history.login_region }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for("static", filename="js/user.js") }}"></script> 