.overall-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overall-mask {
  position: absolute;
  top: 0px; filter: alpha(opacity=60);
  background-color: #777;
  z-index: 1;
  left: 0px;
  opacity: 0.5;
  -moz-opacity:0.5;
  display:none;
  height: 100%;
  width: 100%;
}

.sidebar-container {
  position: relative;
  background-color: #353a3b;
  height: 100%;
  width: 225px;
  float: left;
}

.sidebar-logo-container {
  height: 80px;
  text-align: center;
  line-height: 70px;
}

.sidebar-logo {
  height: 70px;
  border-bottom: solid 1px #ded8d8;
  padding-bottom: 5px
}

.el-scrollbar {
  position: relative;
  overflow: auto;
}

.menu-li {
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-left: 30px;
}

.menu-child-li {
  margin-left: 60px;
}

a.resources_menu a.remote_execute{
  text-decoration:none;
}

.main-container {
  position: relative;
  background-color:#e1e4e8;
  margin-left: 220px;
  height: 100%;
}

.navbar-top {
  position: relative;
  background-color:#fafbfc;
  height: 76px;
}

.navbar-right-menu {
  position: relative;
  margin-right: 20px;
  height: 76px;
  float: right;
}

.navbar-user-col {
  margin-top: 27px;
}

.navbar-login-info {
  display: inline-flex;
  font-size: 10px;
  position: relative;
  margin-right: 20px;
  height: 76px;
  line-height: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 10px;
}

.rightcontent {
  display: block;
  position: relative;
  background-color: white;
  margin: 11px;
  padding-top: 30px;
}

#op_box {
	display: block;
  font-family: monospace;
  color: white;
  background-color: black;
  width: 819px;
  height: 500px;
  padding: 15px;
  border-radius: 3px;
  resize: none;
	white-space: none;
}

#show_cmd {
  display: block;
  font-family: monospace;
  color: white;
  background-color: black;
  width: 819px;
  height: 50px;
  padding: 15px;
  border-radius: 3px;
  resize: none;
	white-space: none; 
}

.tips-container {
  display: none;
  position: fixed;
  top: 150px;
  left: 50%;
  margin: -100px 0 0 -100px;
  border: 1px solid #f9dedf;
  background-color: #FEF1F0;
  padding: 10px;
  border-radius: 5px;
  color: #f7676e;
}

.login-container {
  position: relative;
  background-color: #f2f2f2;
  top: 100px;
  width: 800px;
  height: 500px;
  margin: 0 auto;
}

.wy-lg-picture {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(158, 146, 127);
  float: left;
}

.wy-lg-picture img {
  display: block;
  width: 100%;
  height: 100%;
}

.wy-lg-form, .wy-rg-form {
  position: relative;
  background-color: #f2f2f2;
  width: 50%;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wy-lg-form>form, .wy-rg-form>form {
  margin: 30px;
  line-height: 30px;
}

textarea, select {
  font-family: monospace;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
}

input[type=text], input[type=password] {
  font-family: monospace;
  box-sizing: border-box;
  width: 100%;
  display: inline-block;
  border: none;
  outline: none;
  border-bottom: 1px solid #d9d9d9;
  background-color: #f2f2f2;
  height: 40px;
  padding-left: 10px;
  margin-bottom: 25px;
}

input[type=text]:hover, input[type=password]:hover {
  border-bottom: 1px solid #cc2f2e;
}

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid none;
  box-shadow: 0px 0px 5px rgb(242, 78, 78);
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  color: white;
}

input[type=submit]:hover {
	background-color: #e9777c;
}

h1 {
  text-align: center;
  margin: 15px;
  display: block;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.table > tbody > tr > td {
  text-align: center;
  vertical-align: middle !important;
}

.table > tbody > tr:hover {
  background-color: #b8e2b7;
}

/* dataTables表头居中 */
.table > thead:first-child > tr:first-child > th {
  text-align: center;
}

.menu-icon {
  margin-right: 10px;
}

.cmd-container {
  display: block;
  left: 29%;
}

.menu-wrapper:hover {
  background-color: #252b2f;
  border-left: 6px solid #ff0604;
}

.master-menu {
  display: block;
  height: 40px;
  cursor: pointer;
}

.child-menu {
  display:none;
  background-color: #252b2f;
}

.master-menu:hover {
  border-left:none;
  background-color:#353a3b;
}

.child-menu:hover {
  border-left:6px solid #ff0604;
  background-color: #555555;
}

.btn-more {
  float: right;
  margin-right: 20px;
  color: #e1e4e8;
}

* {
	margin:0;
	padding:0;
}
li {
	list-style:none
}

.add_hosts_menu {
  position:absolute;
  display:none;
  z-index: 1000;
  min-width: 160px;
  height: 70px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  text-align: center;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.add_hosts_menu li {
  line-height: 30px;
  padding-right: 15px;
}

.add_hosts_menu li:hover {
  background-color: #f5f5f5;
}

.host_details {
  background-color: #ffffff;
  position: fixed;
  z-index: 2;
  margin-top: -30px;
  display: none;
  border-radius: 4px;
  font-size: 13px;
  padding: 20px;
  width: 28%;
  height: 80%;
  right: 0;
  overflow: auto;
}

.host_details h1, .host_details h2 {
  font-size: 14px;
  border-left: solid 5px #ff0604;
  padding-left: 8px;
}

.host_details .basic_items {
  margin-bottom: 10px;
  overflow: hidden;
  word-break: break-all;
}

.basic_items {
  display: flex;
  white-space: nowrap;
  text-align: center;
  justify-content: space-between;
}

.basic_items .basic_label {
  color: #a2a3a9;
  text-align: left;
  white-space: nowrap;
}

.mem_usage_container, .mount_usage_container {
  float:left;
  width: 80px;
  height:18px;
  border:1px solid;
  padding:1px;
}

.mem_usage, .mount_usage {
  float: left;
  width: 0px;
  max-width: 116px;
  height: 14px;
  border: 0px;
  background-color: green;
  color: white;
  text-align: center;
  font-size: 12px;
}

.step03_content {
  display: none;
}

.step01_content > div, .step02_content > div, .step03_content > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap; 
  width: 600px;
  margin-left: 84px;
}

.setup_content input, .setup_content select {
  width: 60%;
};

.initial_setup, .setup_driver, .advanced_setup {
  display: inline-block;
  margin-top: 6px;
}

.initial_setup {
  display: inline-block;
  margin-top: 6px;
  margin-left: 95px;
}

.setup_driver {
  display: inline-block;
  margin-top: 6px;
  margin-left: 180px;
}

.advanced_setup {
  display: inline-block;
  margin-top: 6px;
  margin-left: 190px;
}