<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">
        更新存储服务
    </h4>
</div>
<div class="modal-body">
    <div class="setup_content" style="margin-top:50px;">
        <div class="step01_content">
            <div class="storage_name">
                <span>存储名称</span>
                <input type="text" placeholder="Enter storage name">
            </div>
            <div class="storage_type">
                <span>存储驱动器</span>
                <select>
                    <option value="g-driver">Google Cloud Driver</option>
                    <option value="s3">S3 Service Driver</option>
                </select>
            </div>
            <div class="storage_provider" style="display:none;">
                <span>存储提供商</span>
                <select>
                    <option value="s3-aws">AWS</option>
                    <option value="s3-ceph">Ceph</option>
                    <option value="Alibaba">阿里云</option>
                    <option value="s3-tencent">腾讯云</option>
                </select>
            </div>
        </div>
        <div class="step_content">
        </div>
    </div>
</div>
<div class="modal-footer">
     <input id="storage_close_btn" class="btn btn-primary" type="button" data-dismiss="modal" value="关闭">
     <button id="storage_prev_btn" class="btn btn-primary" type="button" disabled style="display:none;">上一步</button>
     <button id="storage_next_btn" class="btn btn-primary" type="button" disabled>下一步</button>
     <button id="storage_submit_btn" class="btn btn-primary" type="button" style="display:none;">提交</button>
</div>