{% extends "base.html" %} {% include "auth/auth_base.html" %} {% block content %}
<div class="login-container">
  <div class="wy-lg-picture">
    <img src="../../static/img/background.gif" loop="loop" alt="" />
  </div>
  <div class="wy-lg-form">
    <h1>{% block title %}登录{% endblock %}</h1>
    <form method="post" action="{{ url_for('api_v1_0.login') }}" role="form">
      {{ form.csrf_token }}
      <label for="username">用户名</label>
      <input id="username" type="text" name="username" placeholder="请输入用户名" required />
      <label for="password">密码</label>
      <div style="position: relative">
        <input id="password" type="password" name="password" placeholder="请输入密码" required />
        <span id="wy-lg-eye-btn" class="wy-lg-eye glyphicon glyphicon-eye-open"></span>
      </div>
      <label for="verify_code">验证码</label><br />
      <input
        style="width: 260px; border: 1px solid #d9d9d9"
        id="verify_code"
        type="text"
        name="verify_code"
        placeholder="请输入验证码"
        maxlength="4"
        required />
      <img
        style="margin-left: 15px; cursor: pointer"
        src="/api/v1.0/code"
        class="verify_code"
        onclick="this.src='/api/v1.0/code?' + Math.random()" />
      <input id="login_ipaddress" type="text" name="login_ipaddress" style="display: none" />
      <input id="login_region" type="text" name="login_region" style="display: none" />
      <label for="remember" style="margin-bottom: 10px">
        <input type="checkbox" name="remember" id="remember" value="1" /> 记住我
      </label>
      {% if form.username.errors %} {% for msg in form.username.errors %}
      <span style="float: right; color: red">{{ msg }}</span>
      {% endfor %} {% elif form.password.errors %} {% for msg in form.password.errors %}
      <span style="float: right; color: red">{{ msg }}</span>
      {% endfor %} {% endif %} {% if get_flashed_messages() %} {% for msg in get_flashed_messages() %}
      <span style="float: right; color: red">{{ msg }}</span>
      {% endfor %} {% endif %}
      <input id="login_btn" type="submit" value="登录" />
      <span style="float: right; color: gray; padding-top: 8px">
        <a style="color: gray" href='{{ url_for("api_v1_0.register") }}'>还没有账号？免费注册</a>
      </span>
    </form>
  </div>
</div>
{% endblock %}
