{% extends "base.html" %}
{% include "auth/auth_base.html" %}
{% block content %}
  <div class="wy-rg-form">
    <h1>{% block title %}Register{% endblock %}</h1>
    <form method="post">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
      <label type="password" for="password">Password</label>
      <input type="password" name="password" id="password" onkeyup="checkpassword()" required>
      <label type="password" for="password">Confirm password</label>
	    <input type="password" name="repassword" id="repassword" onkeyup="checkpassword()" required><span id="tips"></span>
      <input type="submit" value="Register" id="bt_input"">
    </form>
  </div>
{% endblock %}
