{% extends "base.html" %} {% include "auth/auth_base.html" %} {% block content %}
<div class="login-container">
  <div class="wy-lg-picture">
    <img src="../../static/img/background.gif" loop="loop" alt="" />
  </div>
  <div class="wy-rst-form">
    <h1>{% block title %}重置密码{% endblock %}</h1>
    <form method="post">
      <label for="username">用户名</label>
      <input type="text" name="username" id="username" placeholder="请输入用户名" required />
      <label type="password" for="password">请输入老密码</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="请输入密码"
        onkeyup="checkpassword()"
        required />
      <label type="password" for="password">请输入新密码</label>
      <input
        type="password"
        name="resetpassword"
        id="resetpassword"
        placeholder="请再次输入密码"
        onkeyup="checkpassword()"
        required />
      <span id="tips"></span>
      {% for msg in get_flashed_messages() %}
      <span style="float: right; color: red">{{msg}}</span>
      {% endfor %}
      <input type="submit" value="重置密码" id="bt_input" />
      <span style="float: right; color: gray; padding-top: 8px">
        <a style="color: gray" href='{{ url_for("api_v1_0.login") }}'>已有账号?点击去登录</a>
      </span>
    </form>
  </div>
</div>
{% endblock %}
